<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <img class ="portrait" src="/img/morty.jpeg">
    <br>
    {{>footer}}
</body>

</html>